#login {
    float:right;
    position: absolute;
    white-space: nowrap;
    width: 25%;
    margin-top: 10%;
   right: -5%;
    color: #252315;
    border-right: 1px solid #252315;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
  
  }
  #registar {
    float: right;
    position: absolute;
    text-align: right;
    width: 100%;
    right: 80%;
    margin-top: 10%;
    color: #252315;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1vw;
    width: 10%;
  }
  
  .responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .container-fluid {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .col-sm-12 {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .row{
    margin:0px;
  }
  
  #row1 {
    width: 100%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: -10%;
  }
  
  #row2 {
    width: 100%;
    margin-right: 0;
  }
  
  .navbar {
    padding: 0px;
    width: 100%;
    display: inline-block;
  }
  
  .navbar .nav {
    width: 100%;
    margin: 0;
    padding: 0px;
  
  }
  
  
  .navbar-brand {
    position: absolute;
    padding-top: 0px;
    width: 100%;
    margin-left: -3% !important;
    padding: 0 !important;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  
  .homeButton {
    position: relative;
    height: 70%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
  
  }
  
  
  
  
  #circlemanager {
    float: right;
    background-color: #331a00;
    margin-right: 36%;
    margin-top: 10%;
    transform: rotate(-45deg);
    text-align: center;
    line-height: 11vw;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
  
  }
  
  #circlestaff {
    float: left;
    text-align: center;
    margin-left: 37%;
    transform: rotate(45deg);
    background-color: #331a00;
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    line-height: 11vw;
    vertical-align: center;
  }
  
  #bstaff {
    align-items: baseline;
    float: right;
    margin-right: 30%;
    margin-top: 8%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: bold;
  }
  
  #bmanager {
    float: left;
    margin-left: 33%;
    margin-top: 8%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: bold;
  }
  
  
  .circle {
    height: 14vw;
    width: 14vw;
    border: 1.7vw solid white;
    justify-content: center;
    line-height: 15vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    vertical-align: center;
  
  }
  
  ul {
    width: 100%;
    list-style-type: none;
    display:inline-flex;
    flex-wrap: wrap;
    flex-basis: auto;
    align-items: stretch;
    padding: 0;
  
  }
  
  ul li:last-child a {
    border-right: none;
  }
  
  li {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #331a00;
    flex-wrap: nowrap;
    align-content: center;
    text-align: center;
    
  
  }
  
  li a {
    color: white;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 1vw;
    line-height: 3vw;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    font-weight: bold;
  
  
  }
  
  li a:after {
    content: "";
    clear: both;
    position: absolute;
    top: 20%;
    right: 0;
    width: 1px;
    height: 60%;
    border-right: 1px solid white;
  }
  
  
  li a:hover:not(.active) {
    background-color: #331a00;
    height: 100%;
    width: 100%;
    display: inline-block;
    align-items: flex-end;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  section {
    vertical-align: top;
    float: left;
    width: 100%;
    background-color: #f1f1f1;
    height: 80vh;
    /* only for demonstration, should be removed */
  }
  
  
  
  h1 {
    text-align: center;
    color: white;
    margin-top: 60px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }
  
  column {
    float: left;
    width: 100%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  
  nav {
    width: 100%;
    margin-top: 5%;
    height:90%;
  
  }
  
  button {
    background-color: white;
    /* Green */
    border: none;
    padding: 1.5vw 2.7vw;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 1vw;
    font-weight: 400;
    margin: 0px 25%;
    border-radius: 2vw;
    color: black;
  }